/* Begin form style */

.form-group {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #adb6c8 !important;
	margin-bottom: 0;
	padding-bottom: 1.5rem;
	align-items: center;
}

.form-control {
	padding: 12px 15px;
	background: #f7f9fb;
	margin-bottom: 0px;
	border: 1px solid #e9edf5;
}

.form-control:focus {
	border-color: #507cff;
	box-shadow: none;
}

::-webkit-input-placeholder {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #adb6c8 !important;
}

:-moz-placeholder {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #adb6c8 !important;
}

::-moz-placeholder {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #adb6c8 !important;
}

::placeholder {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #adb6c8 !important;
}

:-ms-input-placeholder {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #adb6c8 !important;
}

.close span::before {
	content: url(../image/close-btn.svg);
}

button.close {
	outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.sms-number {
	justify-content: space-between;
}

.sms-number input {
	border: none;
	border-bottom: 4px solid #adb6c8;
	border-radius: 0;
	max-width: 43px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 54px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #000000;
	padding: 5px;
	outline: none;
}

.sms-number input::-webkit-input-placeholder {
	font-family: 'Open Sans';
	font-size: 36px;
	line-height: 54px;
	font-weight: 600;
}

.sms-number input:-moz-placeholder {
	font-family: 'Open Sans';
	font-size: 36px;
	line-height: 54px;
	font-weight: 600;
}

.sms-number input::-moz-placeholder {
	font-family: 'Open Sans';
	font-size: 36px;
	line-height: 54px;
	font-weight: 600;
}

.sms-number input::placeholder {
	font-family: 'Open Sans';
	font-size: 36px;
	line-height: 54px;
	font-weight: 600;
}

.sms-number input:-ms-input-placeholder {
	font-family: 'Open Sans';
	font-size: 36px;
	line-height: 54px;
	font-weight: 600;
}

.sms-number input.active {
	border: none;
	border-bottom: 4px solid #507cff;
}

.sms-number input:active {
	border: none;
	border-bottom: 4px solid #507cff;
}

input[type='date'] {
	color: #adb6c8;
	text-transform: uppercase;
}

input[type='date']::-webkit-input-placeholder {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #adb6c8 !important;
}

::-webkit-calendar-picker-indicator {
	color: rgba(173, 182, 200, 0);
	opacity: 0.3;
	cursor: pointer;
}

.custom-select {
	display: inline-block;
	height: auto;
	padding: 12px 15px;
	line-height: 1.5;
	font-family: 'Open Sans';
	font-size: 1rem;
	color: #adb6c8;
	vertical-align: middle;
	background: #f7f9fb url(../image/arrow-down.svg) no-repeat right 0.75rem center;
	background-size: auto;
	border: 1px solid #e9edf5;
	border-radius: 0.25rem !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

dd {
	margin-bottom: 1.5rem;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
}

dt {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #818181;
}

/* Custom Login-Use Top Nav Bar style */

.glyphicon-user:before {
	content: url(../image/login-icon.png);
}

.navbar-right.login-user .dropdown-menu {
	left: auto;
	right: 0;
}

.navbar-right.login-user .dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1000;
	float: left;
	min-width: 100%;
	padding: 5px 0;
	margin: 15px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: 0px 18px 40px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 18px 40px rgba(0, 0, 0, 0.1);
	background-clip: padding-box;
}

.navbar-right.login-user > .dropdown > .dropdown-toggle {
	line-height: 0;
	text-decoration: none;
}

.navbar-right.login-user > .dropdown > .dropdown-toggle .login-name {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
	margin: 0 5px;
}

.dropdown-toggle:after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: '';
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
	color: #000;
}

/* Custom Login-Form Page style */

.wrap {
	display: flex;
}

.login-form {
	background: #ffffff;
	border: none;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 15px;
	flex-direction: column;
	width: 100%;
}

.form-signin {
	padding: 30px 15px 20px;
}

.form-signin h1 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
}

.formFooter {
	background-color: #f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0;
}

label {
	font-family: 'Open Sans Bold';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.02em;
	color: #000000;
	margin-bottom: 6px;
}

label.text-normal {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
}

hr.header-line {
	margin-bottom: 30px;
}

.rega {
	display: block;
	font-family: 'Open Sans SemiBold';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #0045ad;
}

.rega-modal .glyphicon-ok {
	width: 100%;
	text-align: center;
}

.rega-modal .glyphicon-ok:before {
	content: url(../image/icon-ok.svg);
}

.rega-modal .glyphicon-failure {
	width: 100%;
	text-align: center;
}

.rega-modal .glyphicon-failure:before {
	content: url(../image/icon-failure.svg);
}

.modal-content {
	padding: 50px 15px 20px 15px;
}

.modal .close {
	position: absolute;
	right: 10px;
	top: 12px;
	opacity: 1;
}

.modal .close:hover {
	opacity: 0.5;
}

/* Custom Steps style */

.steps {
	margin-top: 30px;
	margin-bottom: 0;
	justify-content: space-between !important;
}

.w-879 {
	min-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.bordered {
	border-bottom-color: #f0f0f0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: -20px;
}

.bordered.active {
	border-color: #507cff;
}

.step {
	flex-direction: column;
}

.step-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.65);
}

.step-title.active {
	color: rgba(0, 0, 0, 0.85);
}

.step-desc {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.65);
}

.step img {
	margin-top: -3px;
}

.login-form {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.w-30 {
	width: 100%;
}

.form-control {
	border-radius: 0.25rem !important;
}

.sms-number .form-control {
	border-radius: 0 !important;
}

.input-group-text {
	width: 100% !important;
	margin-bottom: 15px !important;
	text-align: left;
}

.input-group-text label {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #adb6c8;
}

.input-group-text.active {
	border: 1px solid #507cff;
}

.input-group-text.active label {
	color: #000000;
}

.sposob .input-group-text {
	min-height: 230px;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: none;
	border-radius: 4px;
}

.sposob .input-group-text.active,
.sposob .input-group-text:hover {
	border: 1px solid rgba(0, 0, 0, 0.06);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
}

.sposob .input-group-text label {
	width: 100%;
	text-align: center;
	margin: 35px 0 0 0 !important;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
}

.input-group-text,
.input-group-text input,
.input-group-text label {
	cursor: pointer;
}

/* Custom Content Table & Tabs style */

.content-table {
	margin-bottom: 0px;
}

.content-table thead th {
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
	padding: 1.5rem;
	border-bottom: 1px solid #d6d6d6;
	border-top: none;
	font-weight: 600;
	vertical-align: middle;
	background-color: #f7f9fb;
}

.content-table td {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
	padding: 1rem 1.5rem;
	border-bottom: 1px solid rgb(0 0 0 / 0.1);
	vertical-align: middle;
	background-color: #fff;
}

.content-table td a {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #507cff;
	cursor: pointer;
	font-weight: normal;
}

.content-table td span.plus-response {
	color: #507cff;
}

.content-table.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgb(255 255 255);
}

.content-table.table-striped tbody tr:nth-of-type(even) {
	background-color: rgb(243 243 243);
}

.content-table .status-link {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #507cff !important;
}

.w-1530 {
	max-width: 1530px;
}

.container.w-1530 {
	max-width: 1530px;
}

.container.w-1530 .login-form {
	max-width: 100%;
	margin-top: 1rem;
}

.nav-tabs .nav-link {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	padding-left: 0;
	padding-right: 0;
	margin-right: 2rem;
}

.nav-tabs .nav-link.active {
	color: #507cff;
	border: none;
	border-bottom: 3px solid #507cff;
}

.nav-link {
	display: block;
	padding: 1rem 1.5rem;
}

.page-link.arrow-left:before {
	content: url(../image/pg-arrow-left.svg);
}

.page-link.arrow-right:before {
	content: url(../image/pg-arrow-right.svg);
}

.page-item .page-link {
	cursor: pointer !important;
	background-color: #fff;
	color: rgba(0, 0, 0, 0.2);
	border-color: rgba(0, 0, 0, 0.2) !important;
	padding: 4px;
	margin-right: 8px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	line-height: 0;
	height: 32px;
	width: 32px;
	justify-content: center;
	outline: none;
	box-shadow: none;
}

.page-item.active .page-link {
	z-index: 1;
	color: #007bff;
	background-color: #fff;
	border-color: #007bff !important;
}

.form-control.empty {
	background: #ffffff;
}

.empty label {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #adb6c8;
}

.sub-label {
	font-family: 'Open Sans Bold';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.02em;
	color: #818181;
}

.sub-label-text {
	font-family: 'Open Sans Bold';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #507cff;
}

.text-center.success {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.02em;
	color: #000000;
}

.sub-label-text.aferta {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	letter-spacing: 0.02em;
	color: #507cff;
}

.poluchenie-zaima input[type='range'] {
	width: auto;
}

.poluchenie-zaima .custom-range label {
	border: 1px solid #e9edf5;
	background-color: #f7f9fb;
}

.poluchenie-zaima .custom-range {
	width: 100%;
	justify-content: space-between;
}

.ofzaim-btn {
	display: block;
	border-bottom: none;
}

.ofzaim-btn li {
	padding: 0.6rem 0;
}

.main-tabs {
	display: flex;
	flex-wrap: wrap;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	height: 59px;
	flex-direction: column;
	scrollbar-width: none;
}

.main-tabs::-webkit-scrollbar {
	display: none;
}

.ofzaim-table {
	padding-top: 0 !important;
}

/* Button style */

.btn-outline-success {
	background-color: #daffd9;
	background-image: none;
	border-color: #8bff89;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #4adb61;
	min-width: 110px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.btn-outline-danger {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #db4a4a;
	background-color: #ffd9d9;
	background-image: none;
	border-color: #ffb0b0;
	min-width: 110px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.btn-outline-warning {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #cbb128;
	background-color: #fffdc7;
	background-image: none;
	border-color: #ffe486;
	min-width: 110px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.personal-card-text {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #000000;
}

.navbar-login-session a {
	background-color: #dadada;
	color: #000;
	font-family: 'Open Sans Bold';
	font-style: normal;
	font-weight: 600;
	border: none !important;
	box-shadow: none !important;
}

.navbar-login-session a:hover,
.navbar-login-session a:active,
.navbar-login-session a:focus {
	background-color: #f3f3f3 !important;
	color: #000 !important;
	border: none !important;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	.wrap .form-signin {
		padding: 20px 15px 20px;
	}
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		margin: 0 0 15px;
		background-color: #f7f9fb !important;
		padding: 15px;
		border-top: 1px solid rgb(0 0 0 / 0.1);
		border-bottom: 1px solid rgb(0 0 0 / 0.1);
	}
	td {
		border: none !important;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0 0 15px 0 !important;
		background-color: transparent !important;
	}
	td:before {
		font-family: 'Open Sans Bold';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #000000;
		position: relative;
		white-space: nowrap;
		margin-bottom: 5px;
	}
	.content-table td:nth-of-type(1) a {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.02em;
	}
	.content-table.ru-version td:nth-of-type(1):before {
		content: '№ Займа';
	}
	.content-table.ru-version td:nth-of-type(2):before {
		content: 'Сумма займа';
	}
	.content-table.ru-version td:nth-of-type(3):before {
		content: 'Сумма погашения';
	}
	.content-table.ru-version td:nth-of-type(4):before {
		content: 'Дата получения';
	}
	.content-table.ru-version td:nth-of-type(5):before {
		content: 'Дата погашения';
	}
	.content-table.ru-version td:nth-of-type(6):before {
		content: 'Статус';
	}

	/*.mx-date-row td, tr{*/
	/*	display: revert!important;*/
	/*}*/

}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.login-form {
		background: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		box-shadow: 0px 18px 40px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		display: flex;
		max-width: 490px;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 15px;
		flex-direction: column;
	}
	.form-signin {
		padding: 40px 65px;
	}
	.navbar-right.login-user .dropdown-menu {
		min-width: 290px;
	}
	.formFooter {
		border-radius: 0 0 10px 10px;
	}
	.modal .close {
		position: absolute;
		right: -35px;
		top: 12px;
		opacity: 1;
	}
	.sms-number input {
		max-width: 52px;
	}
	.w-879 {
		padding-left: 0;
		padding-right: 0;
	}
	.w-30 {
		width: 30%;
	}
	.steps {
		margin-top: 80px;
		margin-bottom: 56px;
		justify-content: space-between !important;
	}
	.step {
		flex-direction: row;
	}
	.step-title {
		font-size: 16px;
		line-height: 32px;
	}
	.step-desc {
		font-size: 14px;
		line-height: 22px;
	}
	.input-group-text {
		width: 1% !important;
		margin-bottom: 0px !important;
	}
	.container.w-1530 .login-form {
		margin-top: 5rem;
	}
	.btn-primary.pay {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #507cff;
		background-color: transparent !important;
		border: none !important;
	}
	.poluchenie-zaima .custom-range {
		width: auto;
	}
	.main-tabs {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		width: auto;
		height: auto;
		flex-direction: row;
	}
	.ofzaim-btn {
		display: flex;
		border-bottom: 1px solid #dee2e6;
	}
	.ofzaim-table {
		padding-top: 40px !important;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.w-879 {
		min-width: 879px;
	}
}
