@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.woff2') format('woff2'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'fontawesome';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body,
#app,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*#app {*/
/*	height: 100%;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: space-between;*/
/*}*/
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.white {
    color: #fff!important;
}


glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "glyphicons";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Custom Header style */

header {
    background: #FFFFFF;
}

.shadow-sm {
    box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.25);
}

.block-phone {
    text-align: left !important;
    margin: 25px 0;
}

.block-phone .text-right {
    text-align: left!important;
}


/* Custom Section Top Slider style */

section.top-slider {
    background: #333333;
    /*background-image: url(../img/banner-bg-m.svg);*/
    min-height: 355px;
    display: flex;
    background-position: center 7px;
    background-size: 80%;
    background-repeat: no-repeat;
}

section.top-slider>div>div {
    margin-top: 27px;
}

.text-h1 h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-h1 p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 0 15px;
    width: auto;
}


/* Custom Form Calc style */

.top-calc {
    display: block;
    justify-content: center;
    position: relative;
    height: 370px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}

.form-calc {
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0;
    display: block;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -174px;
    height: 370px;
}

.top-calc .bottom-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* Custom Nav Bar & Burger style */

.navbar {
    padding: 5px 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    padding: 1rem 0;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-collapse .btn-primary {
    width: 100%;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler {
    padding: .25rem 0;
    outline: none !important;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.navbar-toggler-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative
}

.btn_row {
    height: 2px;
    width: 20px;
    margin: 2px 0;
    background-color: #333;
    position: relative;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.btn_row:last-child {
    width: 20px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .btn_row:first-child {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 6px
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .btn_row:last-child {
    opacity: 0
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .btn_row:nth-child(2) {
    -webkit-transform: rotate(-222deg);
    -ms-transform: rotate(-222deg);
    transform: rotate(-222deg);
    top: 0px
}


/* Custom Lang Button style */

.lang .btn {
    padding: 0;
    display: flex;
    align-items: center;
    background: transparent;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.dropdown-menu.show {
    display: block;
}

.lang .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: auto;
    padding: 0;
    margin: .125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    width: 80px;
    text-transform: uppercase;
    box-shadow: 0px 18px 40px rgba(0, 0, 0, 0.1);
}

.lang .dropdown-item {
    width: 100%;
    padding: 2px 10px;
    clear: both;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: left;
    outline: 0;
}

.lang .dropdown-item:focus,
.lang .dropdown-item:hover {
    background-color: #ECECEC;
}


/* Custom Lang Button style */

.block-phone .phone-number a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.block-phone .phone-number a:hover {
    text-decoration: none;
}

.block-phone .phone-number a span {
    color: #8EDEFF;
}

.block-phone .phone-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


/* Custom Range Bar style */

input[type=range] {
    -webkit-appearance: none;
    margin: 15px 0;
    width: auto;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #00A0E3;
    border-radius: 25px;
    border: 0px solid #00A0E3;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 2px solid #00A0E3;
    height: 18px;
    width: 18px;
    border-radius: 24px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00A0E3;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #00A0E3;
    border-radius: 25px;
    border: 0px solid #00A0E3;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 2px solid #00A0E3;
    height: 14px;
    width: 14px;
    border-radius: 24px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -2px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    animate: 0.2s;
    background: #00A0E3;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #00A0E3;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #00A0E3;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 2px solid #00A0E3;
    height: 14px;
    width: 14px;
    border-radius: 24px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #00A0E3;
}

input[type=range]:focus::-ms-fill-upper {
    background: #00A0E3;
}

.custom-range {
    display: flex;
    align-items: flex-start;
    height: 68px;
    flex-direction: column;
}

.block-zaima {
    padding: 20px 20px 0;
    width: 100%;
}

.block-zaima-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #2A2B32;
}

.custom-range label,
.custom-range input[for] {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    letter-spacing: 0.02em;
    color: #00A0E3;
    border: none;
    margin-top: 6px;
    width: 100%;
}

.custom-range input[for]:focus-visible {
    outline: none;
}

.custom-range label[for=customRange2],
.custom-range input[for=customRange2] {
    width: 100px;
}

.custom-range .range {
    width: 100%;
}

input[type="range"] {
    width: 100%;
}

.block-zaima-clearer {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    opacity: 0.1;
}

.bottom-block label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #333333;
    margin-top: 4px;
}

.block-zaima-title-date {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2A2B32;
}

.block-zaima.lb {
    width: 50%;
    padding-right: 0;
}

.block-zaima.rb {
    width: 50%;
    padding-left: 18px;
}

.btn-secondary {
    background: #FFA166;
    border-radius: 4px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 10px 40px -12px #FFA166;
}

.block-zaima .btn-secondary {
    min-width: 100%;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #d68958;
    border-color: #d68958;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #d68958;
    border-color: #d68958;
    box-shadow: 0px 10px 40px -12px #d68958;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0px 10px 40px -12px #d68958;
}

.btn-primary {
    color: #fff;
    background-color: #0045AD;
    border-color: #0045AD;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 110px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}


/* Custom Usloviya Section style */

.usloviya {
    background: #ffffff;
    display: block;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

.usloviya h2 {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #080A33;
    margin-bottom: 32px;
}

.usloviya .block-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
    margin-left: 15px;
}

.usloviya .block-item img {
    margin-right: 17px;
    object-fit: cover;
    width: 45px;
}

.usloviya .block-item h3 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 2px;
}

.usloviya .block-item p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #080A33;
    margin-bottom: 0px;
}

/* Custom Banner Bottom Section style */
.banner-bottom {
    height: 345px;
    margin-top: 83px;
    margin-bottom: 49px;
}
.banner-bottom .banner {
    background-color: #00A0E3;
    width: 100%;
    height: 359px;
    /*background-image: url("../img/banner-bottom-money-m.png"), url("../img/banner-bottom-bg-m.svg");*/
    background-position: 0px bottom, center 20px;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.banner-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 26px;
}
.banner-text p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.banner-btn {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #333333;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: center;
}
.banner-btn:hover {
    color: #FFFFFF;
    background: #333333;
}

/* Custom About Section style */
.about .about-wrap {
    width: 100%;
}
.about h2 {
    font-family: Nunito Sans;
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C7C7C7;
    margin-bottom: 27px;
}
.about p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2A2B32;
}
.about a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #00A0E3;
}


/* Custom Sposoby Polucheniya Section style */
.sposoby {
    margin-top: 54px;
    margin-bottom: 96px;
}
.sposoby-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}
.sposoby-wrap .block-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.sposoby h2 {
    color: #ffffff;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C7C7C7;
    margin-bottom: 27px;
}
.sposoby p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2A2B32;
    margin-bottom: 0;
}
.sposoby .block-item img {
    margin-right: 28px;
}


/* Custom Otdeleniya Section style */
.otdeleniya {
    padding: 0;
    padding-bottom: 0;
}
.otdeleniya h2 {
    color: #ffffff;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C7C7C7;
    margin-bottom: 27px;
}
.otdeleniya .card-body>div {
    display: flex;
    padding: 10px 0;
    flex-direction: row;
}
.otdeleniya .card-body>div span {
    width: 33%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #080A33;
}
.otdeleniya .card-body>div span.text-right {
    text-align: right !important;
}
.otdeleniya .card h5 button {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #00A0E3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid #81818161;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.card-header {
    padding: 0;
    border-bottom: none;
    border-radius: 0;
    background-color: transparent !important;
}
.card h5 .btn-link {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #080A33;
    text-align: left;
    width: 100%;
    text-decoration: none;
}
.card h5 .btn-link:after {
    content: url(../image/plus.png);
    float: right;
}
.card button {
    padding: 23px 0;
}
.card button[aria-expanded="true"].btn-link:after {
    content: url(../image/minus.png);
}
.otdeleniya .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}
.otdeleniya .card-body>div {
    display: flex;
    flex-direction: column;
    background: #F8F8FA;
    padding: 20px;
    margin-bottom: 15px;
}
.otdeleniya .card-body>div span {
    width: 100%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2A2B32;
    text-align: left !important;
    padding-bottom: 10px;
}

/* New Footer Section Style */
footer {
    background-color: #333333;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9E9E9E;
    display: block;
}
footer li, footer a, footer span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9E9E9E;
}
.footer-top {
    display: flex;
    align-items: baseline !important;
    margin-top: 37px;
}
.footer-bottom {
    background-color: #333333;
}
.footer-top .phone-number a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #00A0E3;
}
.footer-top .phone-number a span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-top .block-phone .phone-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #9E9E9E;
    text-align: left;
}
footer .desktop-logo {
    margin-top: -11px;
    position: absolute;
}
.footer-bottom .border-top {
    border-top: 1px solid #57585B !important;
    padding-top: 15px;
}

footer .powered {
    text-align: left;
}

/* Handle */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e9e9e9;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #e9e9e9;
}

.information::-webkit-scrollbar-thumb:hover {
    background: #3b46cf;
}

.normativ-inwrap .item span {
    float: left;
}

.normativ-inwrap .item p {
    overflow: hidden;
}

.normativ-inwrap .more {
    padding-left: 20px;
    padding-right: 20px;
}

.custom-range {
    justify-content: space-between;
}

.usloviya.aboutus {
    padding-top: 60px;
    padding-bottom: 0px;
}

.usloviya.aboutus h1 {
    padding-bottom: 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.usloviya.aboutus p {
    font-family: "Open Sans";
}

.preimushestva-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 18px;
    margin-top: 78px;
    margin-bottom: 50px;
}

.preimushestva-title.filials {
    margin-bottom: 25px;
}

.preimushestva-col .pr-item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
}

.preimushestva-col .pr-item img {
    margin-right: 12px;
    width: 65px;
}

.goroda-list p {
    line-height: 16px;
}

.preimushestva-col .text {
    font-family: "Open Sans";
}

.preimushestva-col .number {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    color: #e6e6ec;
    padding-right: 42px;
}

.preimushestva-col.get_credit .pr-item {
    margin-bottom: 0;
}

.desktop-logo {
    height: auto;
    width: 195px;
}

.btn-sign {
    background-color: #00A0E3 !important;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF !important;
    padding: 7px 0;
    border: 2px solid #333333 !important;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px -12px rgba(25, 38, 132, 0.16);
    border-radius: 0;
    min-width: 86px;
}

.block-zaima.btn-calc-wrap {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 20px;
}

.btn-calc-wrap {
    padding-right: 15px;
}

.btn-calc {
    background: #00A0E3;
    border: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    height: 44px;
    width: 93%;
    position: relative;
    border-radius: 0;
}

.btn-calc:after {
    content: "";
    /*background-image: url("../img/calc-arrow.svg");*/
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    width: 13px;
    position: absolute;
    right: -13px;
    background-color: transparent;
    height: 100%;
    top: 0;
}

.lang ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.lang ul li {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.lang ul li:first-child:after {
    content: "";
    display: block;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #8EDEFF;
    margin: 0 5px;
    height: 21px;
}

.lang ul li.active {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.lang ul li a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #8EDEFF;
}

.bez-poruchiteley-blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.bez-poruchiteley-blocks .block-item {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 15px;
    padding-right: 15px;
}

.bez-poruchiteley-blocks .block-item img {
    margin-right: 10px;
}

.bez-poruchiteley-blocks .block-item p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
}

.kakpoluchit {
    margin-top: 52px;
}

.kakpoluchit h2 {
    font-family: Nunito Sans;
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C7C7C7;
    margin-bottom: 7px;
}

.kakpoluchit-blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.kakpoluchit-blocks .block-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.kakpoluchit-blocks .block-item .block-item-digit {
    font-family: Nunito Sans;
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 105px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C7C7C7;
    margin-bottom: -44px;
    margin-left: -2px;
}

.kakpoluchit-blocks .block-item h3 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #00A0E3;
    margin-bottom: 10px;
}

.kakpoluchit-blocks .block-item p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2A2B32;
    margin-bottom: 0px;
}

.navbar > .lang {
    position: absolute;
    right: 53px;
    top: 13px;
}

@media (min-width: 576px) {
    header .container {
        max-width: 100%;
    }
    .navbar-nav.ml-sm-3 {
        margin-left: 0rem!important;
    }
    footer .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    body,
    html {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .shadow-sm {
        box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
    }
    .navbar {
        padding: 19px 0;
        height: 74px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
        border: none;
    }
    .bottom-block {
        display: flex;
        align-items: center;
        width: -webkit-fill-available;
    }
    .block-zaima .btn-secondary {
        min-width: 320px;
    }
    .block-phone {
        margin-right: 110px;
    }
    .block-phone .text-right {
        text-align: right!important;
    }
    section.top-slider {
        background: #333333;
        /*background-image: url(../img/banner-bg.svg);*/
        min-height: 556px;
        display: flex;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center 30px;
    }
    section.top-slider>div>div {
        margin-top: 105px;
    }
    .top-calc {
        display: flex;
        justify-content: center;
        position: relative;
        height: 240px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
        margin-left: 0px;
        margin-right: 0px;
    }
    .form-calc {
        background: #FFFFFF;
        border: none;
        box-sizing: border-box;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
        border-radius: 0px;
        display: flex;
        max-width: 754px;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        margin-top: -120px;
        height: 240px;
        padding-top: 36px;
        margin-bottom: -120px;
    }
    input[type=range] {
        width: 100%;
    }
    .btn-calc-wrap {
        padding-right: 15px;
    }
    .btn-calc {
        background: #00A0E3;
        border: none;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        height: 44px;
        width: 188px;
        position: relative;
        border-radius: 0;
    }
    .btn-calc:after {
        content: "";
        /*background-image: url("../img/calc-arrow.svg");*/
        background-repeat: no-repeat;
        background-position: right top;
        display: block;
        width: 13px;
        position: absolute;
        right: -13px;
        background-color: transparent;
        height: 100%;
        top: 0;
    }
    .text-h1 h1 {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 58px;
        line-height: 72px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .text-h1 p {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding: 0 15px;
        width: 576px;
    }
    .usloviya {
        padding-top: 228px;
        padding-bottom: 93px;
    }
    .usloviya-blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .usloviya h2 {
        font-family: "Open Sans Bold";
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        letter-spacing: 0.02em;
        color: #080A33;
        padding-bottom: 100px;
        margin-bottom: 0;
    }
    .usloviya .block-item {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .about .jumbotron {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 98px 0;
        margin: 0;
        border-radius: 0;
        background: transparent;
    }
    .about h2 {
        font-family: "Open Sans Bold";
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    .about .jumbotron img {
        width: auto;
    }
    .about .btn-lg {
        min-width: 299px;
    }
    .news {
        padding: 0;
    }
    .news .card-body a h5.card-title {
        font-size: 24px;
        line-height: 36px;
    }
    .card-deck-header {
        margin-bottom: 32px;
        margin-top: 6rem;
    }
    .card-deck-header h2 {
        font-family: "Open Sans Bold";
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #080A33;
    }
    .block-zaima {
        width: 50%;
        padding: 0px 30px 30px 36px;
    }
    .block-zaima.btn-calc-wrap {
        padding-top: 0px;
        padding-right: 42px;
    }
    .btn-calc {
        min-width: 100%;
    }
    .bez-poruchiteley-blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-direction: row;
    }
    .kakpoluchit h2 {
        font-family: Nunito Sans;
        color: #ffffff;
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 95px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #C7C7C7;
        margin-bottom: 27px;
    }
    .kakpoluchit-blocks {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .kakpoluchit-blocks .block-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 33%;
        padding-right: 60px;
    }
    .kakpoluchit-blocks .block-item .block-item-digit {
        font-family: Nunito Sans;
        color: #ffffff;
        font-style: normal;
        font-weight: 900;
        font-size: 100px;
        line-height: 136px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #C7C7C7;
        margin-bottom: -54px;
        margin-left: -5px;
    }
    .kakpoluchit-blocks .block-item h3 {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.02em;
        color: #00A0E3;
        margin-bottom: 20px;
    }
    .kakpoluchit-blocks .block-item p {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2A2B32;
    }
    .block-zaima-title-date {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: #2A2B32;
    }
    .bottom-block label {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.02em;
        color: #333333;
        margin-top: 4px;
    }
    .top-calc .bottom-block {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .block-zaima-title {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #2A2B32;
    }
    .custom-range label, .custom-range input[for] {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 30px;
        text-align: left;
        letter-spacing: 0.02em;
        color: #00A0E3;
        border: none;
        margin-top: 6px;
        width: 100%;
    }
    .bez-poruchiteley-blocks .block-item p {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 24px;
    }
    .kakpoluchit {
        margin-top: 96px;
    }
    .bez-poruchiteley-blocks .block-item {
        width: auto;
    }
    .usloviya .block-item img {
        margin-right: 25px;
        width: auto;
    }
    .usloviya .block-item h3 {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: #333333;
    }
    .usloviya .block-item p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #080A33;
        margin-bottom: 0px;
    }
    .banner-bottom {
        height: 345px;
        margin-top: 115px;
        margin-bottom: 115px;
    }
    .banner-bottom .banner {
        background-color: #00A0E3;
        width: 100%;
        height: 345px;
        /*background-image: url("../img/banner-bottom-money.png"), url("../img/banner-bottom-bg.svg");*/
        background-position: 96px bottom, center center;
        background-repeat: no-repeat, no-repeat;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .banner-text {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding-right: 154px;
    }
    .banner-btn {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        background: #333333;
        padding: 10px;
        width: 312px;
        display: flex;
        justify-content: center;
    }
    .banner-btn:hover {
        color: #FFFFFF;
        background: #333333;
    }
    .about .about-wrap {
        width: 60%;
    }
    .about h2 {
        font-family: Nunito Sans;
        color: #ffffff;
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 95px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #C7C7C7;
        margin-bottom: 27px;
    }
    .about p {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2A2B32;
    }
    .about a {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 54px;
        letter-spacing: 0.02em;
        color: #00A0E3;
    }
    .sposoby {
        margin-top: 78px;
        margin-bottom: 96px;
    }
    .sposoby-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sposoby-wrap .block-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 33%;
    }
    .sposoby h2 {
        font-family: Nunito Sans;
        color: #ffffff;
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 95px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #C7C7C7;
        margin-bottom: 27px;
    }
    .sposoby p {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2A2B32;
        margin-bottom: 0;
    }
    .sposoby .block-item img {
        margin-right: 28px;
    }
    .otdeleniya {
        padding: 0;
        padding-bottom: 0rem !important;
    }
    .otdeleniya h2 {
        font-family: Nunito Sans;
        color: #ffffff;
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 95px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #C7C7C7;
        margin-bottom: 27px;
    }
    .otdeleniya .card-body>div {
        display: flex;
        padding: 10px 0;
        flex-direction: row;
    }
    .otdeleniya .card-body>div span {
        width: 33%;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #080A33;
    }
    .otdeleniya .card-body>div span.text-right {
        text-align: right !important;
    }
    .otdeleniya .card h5 button {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #00A0E3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        border: 1px solid #81818161;
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .card-header {
        padding: 0;
        border-bottom: none;
        border-radius: 0;
        background-color: transparent !important;
    }
    .card h5 .btn-link {
        font-family: "Open Sans Bold";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #080A33;
        text-align: left;
        width: 100%;
        text-decoration: none;
    }
    .card h5 .btn-link:after {
        content: url(../image/plus.png);
        float: right;
    }
    .card button {
        padding: 23px 0;
    }
    .card button[aria-expanded="true"].btn-link:after {
        content: url(../image/minus.png);
    }
    .otdeleniya .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0;
    }
    .otdeleniya .card-body>div {
        display: flex;
        flex-direction: column;
        background: #F8F8FA;
        padding: 20px;
        margin-bottom: 15px;
    }
    .otdeleniya .card-body>div span {
        width: 100%;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2A2B32;
        text-align: left !important;
        padding-bottom: 10px;
    }
    footer {
        background-color: #333333;
        min-height: 399px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 46px;
        letter-spacing: 0.02em;
        color: #9E9E9E;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer a:hover {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #9E9E9E;
    }
    footer li, footer a, footer span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #9E9E9E;
    }
    .footer-top {
        display: flex;
        align-items: baseline !important;
        margin-top: 37px;
    }
    .footer-bottom {

    }
    .footer-top .phone-number a {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #00A0E3;
    }
    .footer-top .phone-number a span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
    .footer-top .block-phone .phone-text {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: #9E9E9E;
        text-align: right;
    }
    footer .desktop-logo {
        margin-top: -11px;
        position: absolute;
    }
    .footer-bottom .border-top {
        border-top: 1px solid #57585B !important;
        padding-top: 15px;
    }
    footer .powered {
        text-align: right;
    }

}

@media (max-width: 768px) {
    .custom-range .range {
        width: 100%;
    }
    .custom-range input[type=range] {
        width: 100%;
    }
    .custom-range label {
        width: 100% !important;
    }
    .usloviya {
        min-height: auto;
    }
}

@media (min-width: 992px) {
    footer .container {
        max-width: 1145px;
    }
}

@media (min-width: 1200px) {
    header .container {
        max-width: 1145px;
    }
    .usloviya .container {
        max-width: 1145px;
    }
    .about .container {
        max-width: 1145px;
    }
    .news .container {
        max-width: 1145px;
    }
    .otdeleniya .container {
        max-width: 1145px;
    }
}

@media (min-width: 768px) {
    .width-348 {
        width: 348px;
    }
}

.footer-menu-item {
    margin-right: 20px;
}

.bg-blue {
    background-color: #00A0E3;
}

.btn-orange {
    background-color: #FF9966 !important;
    color: #fff !important;
}

.btn-orange:hover {
    background-color: #ecbda0 !important;
}

.custom-header {
    margin-top: 55px;
    margin-bottom: 40px;
}

.pt-20px {
    padding-top: 20px;
}

.docs ul {
    list-style: none;
    font-size: 18px;
    padding: 0px;
}

.docs li {
    width: 100%;
    padding: 23px 25px;
    border: solid 1px #cfcfcf;
    border-radius: 10px;
    margin: 16px 0;
}

.docs ul img {
    width: 32px;
    margin-right: 10px;
}

.btn_row {
    background-color: #fff;
}

@media (max-width: 320px) {
    .custom-header {
        margin-top: 27px;
        margin-bottom: 20px;
        font-size: 21px;
    }
    .docs ul {
        list-style: none;
        font-size: 16px;
        padding: 0px;
    }
}
